:root {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  --clr-wht-basic: #FFFFFF;
  --clr-wht-magnolia: #F5F5FF;
  --clr-wht-light-grey: #D1D1D1;
  --clr-blk-davys-grey: #4F4F4F;
  --clr-grn-generic-viridian: #068374;
  --clr-grn-green-sheen: #76BBB3;
  --clr-wht-gainsboro: #DADCE0;
  --clr-wht-cultured: #F8F8F8;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body p,
body h1,
body h2,
body h3,
body h4,
body textarea,
body a {
  color: var(--clr-blk-davys-grey);
  margin: 0;
  padding: 0;
}

body p,
body span,
body button {
  font-size: medium;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}

body button {
  cursor: pointer;
  border: unset;
  border-radius: 10px;
}

body input,
body select,
body textarea {
  outline: none;
  border: 0px;
  background: transparent;
  font-size: medium;
}

body .src-bar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--clr-wht-magnolia);
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  font-size: large;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .src-bar input {
  width: 100%;
  font-size: large;
}

#main-content #choose-module {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background: url(../../assets/img/bg/bg-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  z-index: -1;
  position: absolute;
}

#main-content #choose-module .choose-module-header {
  position: absolute;
  width: 100%;
}

#main-content #choose-module .choose-module-header .row-nav-header {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#main-content #choose-module .choose-module-header img {
  padding: 20px 0;
  width: 10%;
}

#main-content #choose-module #btn-oee:hover + .bg-1,
#main-content #choose-module #btn-pm:hover + .bg-2 {
  opacity: 1.0;
}

#main-content #choose-module .row-btn-module {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#main-content #choose-module .row-btn-module a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  padding: 50px;
  border-radius: 20px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border: 1px solid #ebe9e9;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: linear-gradient(111.29deg, rgba(255, 255, 255, 0.8) -1.83%, rgba(255, 255, 255, 0) 109.95%);
}

#main-content #choose-module .row-btn-module a:hover {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#main-content #choose-module .row-btn-module a span {
  color: var(--clr-wht-basic);
  font-weight: 600;
  font-size: medium;
  opacity: 100% !important;
  position: relative;
}

#main-content #choose-module .row-btn-module a img {
  width: 25%;
  opacity: 100% !important;
  position: relative;
}

#main-content #choose-module .bg-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../../assets/img/bg/bg-6.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#main-content #choose-module .bg-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../../assets/img/bg/bg-8.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#main-content #content-module-pm {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "header-pm" "content-pm";
}

#main-content #content-module-pm #header-pm {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-pm;
  border-bottom: 1px solid var(--clr-wht-gainsboro);
}

#main-content #content-module-pm #header-pm .row-head-pm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 20px;
}

#main-content #content-module-pm #header-pm .row-head-pm .img-pm {
  width: 130px;
}

#main-content #content-module-pm #header-pm .row-head-pm .img-pm img {
  width: 100%;
}

#main-content #content-module-pm #header-pm .row-head-pm .head-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #content-module-pm #header-pm .row-head-pm .head-title h2 {
  font-size: medium;
}

#main-content #content-module-pm #content-pm {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content-pm;
}

#main-content #content-module-pm #content-pm .card {
  background: var(--clr-wht-basic);
  border-radius: 15px;
  border: 1px solid var(--clr-wht-light-grey);
}

#main-content #content-module-pm #content-pm .row-filter-item-pm {
  border-bottom: 1px solid var(--clr-wht-gainsboro);
}

#main-content #content-module-pm #content-pm .row-filter-item-pm .filter-item-pm {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-content #content-module-pm #content-pm .row-filter-item-pm .filter-item-pm .src-bar {
  padding: 0.3rem 1rem;
  font-size: small;
}

#main-content #content-module-pm #content-pm .row-filter-item-pm .filter-item-pm .src-bar input {
  font-size: small;
}

#main-content #content-module-pm #content-pm .row-filter-item-pm .filter-item-pm .row-location-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #content-module-pm #content-pm .row-filter-item-pm .filter-item-pm .row-location-menu .row-btn-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
}

#main-content #content-module-pm #content-pm .unit-pm {
  padding: 20px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin: auto;
}

#main-content #content-module-pm #content-pm .unit-pm .list-unit-pm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

#main-content #content-module-pm #content-pm .unit-pm #more-btn-pm {
  cursor: pointer;
  font-size: medium !important;
  color: var(--clr-blk-davys-grey);
  padding: 10px !important;
  text-decoration: none !important;
  letter-spacing: 0 !important;
  background: transparent;
  border: 2px solid var(--clr-grn-green-sheen) !important;
  border: none;
  width: 150px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

#main-content #content-module-pm #content-pm .unit-pm #more-btn-pm:hover {
  background-color: var(--clr-grn-generic-viridian);
  color: var(--clr-wht-basic);
  border: none;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -ms-transform: scale(1.04);
}

#main-content #content-module-pm #content-pm .unit-pm .list-unit-pm .content-unit-pm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#main-content #content-module-pm #content-pm .unit-pm .list-unit-pm .content-unit-pm:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

#main-content #content-module-pm #content-pm .unit-pm .list-unit-pm .content-unit-pm .content-asset-header img {
  width: 100%;
}

#main-content #content-module-pm #content-pm .unit-pm .list-unit-pm .content-unit-pm .content-asset-hover {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#main-content #content-module-pm #content-pm .unit-pm .list-unit-pm .content-unit-pm .content-asset-hover img {
  width: 30px;
}

#main-content table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

#main-content tr:nth-of-type(odd) {
  background: var(--clr-wht-basic);
}

#main-content th {
  background: var(--clr-grn-generic-viridian);
  color: var(--clr-wht-basic);
  font-weight: 600;
}

#main-content td,
#main-content th {
  padding: 10px;
  border: 1px solid var(--clr-wht-basic);
  text-align: left;
  font-size: 18px;
}

#main-content .back {
  cursor: pointer;
}

#main-content .btn-group button {
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--clr-grn-green-sheen);
  border: 2px solid var(--clr-grn-generic-viridian);
  border-left-width: 0;
  display: inline-block;
  padding: 0.3rem 1rem;
  outline: 0;
  color: var(--clr-wht-basic);
  font-size: small;
}

#main-content .btn-group button:first-child {
  border-left-width: 2px;
  border-radius: 2em 0 0 2em;
}

#main-content .btn-group button:last-child {
  border-radius: 0 2em 2em 0;
}

#main-content .btn-group button:hover {
  color: var(--clr-wht-basic);
  background: var(--clr-grn-generic-viridian);
}

#main-content .btn-group .active {
  background: var(--clr-grn-generic-viridian);
  color: var(--clr-wht-basic);
}

.container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "header" "content";
}

.container .header-table {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  border-bottom: 1px solid var(--clr-blk-davys-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header-table .logo-img-header {
  padding: 20px;
}

.container .header-table .logo-img-header img {
  width: 130px;
}

.container .main-content-table {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

.container .main-content-table .table-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--clr-blk-davys-grey);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .main-content-table .table-filter .row-table {
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  gap: 1rem;
}

.container .main-content-table .table-filter .row-table p {
  color: var(--clr-wht-light-grey);
}

.container .main-content-table .table-filter .row-table p:hover {
  color: var(--clr-blk-davys-grey);
}

.container .main-content-table .table-filter .filter-power-meter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 0px 30px;
}

.container .main-content-table .table-filter .filter-power-meter .icofont-rounded-left {
  cursor: pointer;
}

.container .main-content-table .table-filter .filter-power-meter .change-power-meter {
  letter-spacing: .1em;
  padding: 5px 15px;
  border-radius: 15px;
  border: 2px solid var(--clr-grn-green-sheen);
  background: var(--clr-wht-basic);
  color: var(--clr-blk-davys-grey);
}

.container .main-content-table .table-filter .filter-power-meter .change-power-meter:hover {
  background-color: var(--clr-grn-green-sheen);
  color: var(--clr-wht-basic);
}

.container .main-content-table .table-filter .filter-power-meter .icofont-rounded-right {
  cursor: pointer;
}

.container .main-content-table .table-content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "tittle" "table" "page";
}

.container .main-content-table .table-content .title-content-table {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tittle;
}

.container .main-content-table .table-content .title-content-table h3 {
  letter-spacing: .1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
}

.container .main-content-table .table-content .table-power-meter {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: table;
}

.container .main-content-table .table-content .table-power-meter table {
  border-bottom: var(--clr-grn-green-sheen) solid 5px;
  border: 1px solid var(--clr-wht-basic);
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.container .main-content-table .table-content .table-power-meter table tr {
  background-color: var(--clr-wht-cultured);
  border: 1px solid #ddd;
  padding: .35em;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  height: 50px;
}

.container .main-content-table .table-content .table-power-meter table th,
.container .main-content-table .table-content .table-power-meter table td {
  padding: .625em;
  text-align: center;
}

.container .main-content-table .table-content .table-power-meter table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: var(--clr-grn-green-sheen);
  vertical-align: middle;
  border-color: inherit;
}

.container .main-content-table .pagination-table {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: page;
}

.container .main-content-table .pagination-table .pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.container .main-content-table .pagination-table .pager li {
  display: inline;
}

.container .main-content-table .pagination-table .pager li a {
  display: inline-block;
  padding: 5px 15px;
  background-color: var(--clr-wht-basic);
  border: 1px solid #ddd;
  border-radius: 15px;
}

@media only screen and (max-width: 576px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
/*# sourceMappingURL=myCss.css.map */