:root {
  // FONT 
  font-size: 14px;
  font-family: 'Poppins', sans-serif;

  // COLORS
  --clr-wht-basic: #FFFFFF;
  --clr-wht-magnolia: #F5F5FF;
  --clr-wht-light-grey: #D1D1D1;
  --clr-blk-davys-grey: #4F4F4F;
  --clr-grn-generic-viridian: #068374;
  --clr-grn-green-sheen: #76BBB3;
  --clr-wht-gainsboro: #DADCE0;
  --clr-wht-cultured: #F8F8F8;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  p,
  h1,
  h2,
  h3,
  h4,
  textarea,
  a {
    color: var(--clr-blk-davys-grey);
    margin: 0;
    padding: 0;
  }

  p,
  span,
  button {
    font-size: medium;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
    border: unset;
    border-radius: 10px;
  }

  input,
  select,
  textarea {
    outline: none;
    border: 0px;
    background: transparent;
    font-size: medium;
  }

  .src-bar {
    align-items: center;
    display: flex;
    background: var(--clr-wht-magnolia);
    padding: 1.2rem 2rem;
    border-radius: 5rem;
    font-size: large;
    justify-content: space-between;

    input {
      width: 100%;
      font-size: large;
    }
  }
}

#main-content {

  // choose module content
  #choose-module {
    height: 100vh;
    display: grid;
    background: url(../../assets/img/bg/bg-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    z-index: -1;
    position: absolute;

    .choose-module-header {
      position: absolute;
      width: 100%;

      .row-nav-header {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        padding: 20px 0;
        width: 10%;
      }
    }

    #btn-oee:hover+.bg-1,
    #btn-pm:hover+.bg-2 {
      opacity: 1.0;
    }

    .row-btn-module {
      margin: auto;
      display: flex;
      gap: 1rem;

      a {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        width: 200px;
        padding: 50px;
        border-radius: 20px;
        transition: all 500ms ease-in-out;
        border: 1px solid rgb(235, 233, 233);
        backdrop-filter: blur(2px);
        background: linear-gradient(111.29deg,
            rgba(255, 255, 255, 0.8) -1.83%,
            rgba(255, 255, 255, 0) 109.95%);

        &:hover {
          backdrop-filter: blur(5px);
        }

        span {
          color: var(--clr-wht-basic);
          font-weight: 600;
          font-size: medium;
          opacity: 100% !important;
          position: relative;
        }

        img {
          width: 25%;
          opacity: 100% !important;
          position: relative;
        }
      }
    }

    .bg-1 {
      position: absolute;
      top: 0px;
      left: 0px;
      background: url('../../assets/img/bg/bg-6.png') center center no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
      z-index: -1;
      opacity: 0.0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;

    }

    .bg-2 {
      position: absolute;
      top: 0px;
      left: 0px;
      background: url('../../assets/img/bg/bg-8.png') center center no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
      z-index: -1;
      opacity: 0.0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;

    }
  }

  //content module pm
  #content-module-pm {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header-pm"
      "content-pm";

    #header-pm {
      grid-area: header-pm;
      border-bottom: 1px solid var(--clr-wht-gainsboro);

      .row-head-pm {
        display: flex;
        gap: 2rem;
        padding: 20px;

        .img-pm {
          width: 130px;

          // border-right: 1px solid #dadce0;
          img {
            width: 100%;
          }
        }

        .head-title {
          display: flex;
          gap: 1rem;
          align-items: center;

          h2 {
            font-size: medium;
          }
        }
      }
    }

    #content-pm {
      grid-area: content-pm;

      .card {
        background: var(--clr-wht-basic);
        border-radius: 15px;
        border: 1px solid var(--clr-wht-light-grey);
      }

      .row-filter-item-pm {
        border-bottom: 1px solid var(--clr-wht-gainsboro);

        .filter-item-pm {
          padding: 20px;
          display: flex;
          justify-content: space-between;

          .src-bar {
            padding: 0.3rem 1rem;
            font-size: small;

            input {
              font-size: small;
            }
          }

          .row-location-menu {
            display: flex;
            gap: 1rem;
            align-items: center;

            .row-btn-location {
              display: flex;
              border-radius: 50px;
            }
          }
        }
      }

      .unit-pm {
        padding: 20px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: auto;

        .list-unit-pm {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          gap: 1rem;
        }
      }

      //Power Meter
      .unit-pm {
        #more-btn-pm {
          cursor: pointer;
          font-size: medium !important;
          color: var(--clr-blk-davys-grey);
          padding: 10px !important;
          text-decoration: none !important;
          letter-spacing: 0 !important;
          background: transparent;
          border: 2px solid var(--clr-grn-green-sheen) !important;
          border: none;
          width: 150px;
          margin: auto;
          text-align: center;
          margin-top: 10px;

          &:hover {
            background-color: var(--clr-grn-generic-viridian);
            color: var(--clr-wht-basic);
            border: none;
            transform: scale(1.04);
            -webkit-transform: scale(1.04);
            -moz-transform: scale(1.04);
            -o-transform: scale(1.04);
            -ms-transform: scale(1.04)
          }
        }

        .list-unit-pm {
          .content-unit-pm {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &:hover {
              transform: scale(1.05);
              opacity: 1;
            }

            .content-asset-header {
              img {
                width: 100%;
              }
            }

            .content-asset-hover {
              margin: 10px;
              display: flex;
              align-items: center;
              gap: 1rem;

              img {
                width: 30px;
              }
            }
          }
        }
      }
    }
  }

  //table
  table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
  }

  tr:nth-of-type(odd) {
    background: var(--clr-wht-basic);
  }

  th {
    background: var(--clr-grn-generic-viridian);
    color: var(--clr-wht-basic);
    font-weight: 600;
  }

  td,
  th {
    padding: 10px;
    border: 1px solid var(--clr-wht-basic);
    text-align: left;
    font-size: 18px;
  }

  //general
  // .section-content {
  //   width: 95%;
  //   margin-left: auto !important;
  //   margin-right: auto !important;
  // }

  .back {
    cursor: pointer;
  }

  //btn-group
  .btn-group {
    button {
      border-radius: 0;
      text-decoration: none;
      text-transform: uppercase;
      background: var(--clr-grn-green-sheen);
      border: 2px solid var(--clr-grn-generic-viridian);
      border-left-width: 0;
      display: inline-block;
      padding: 0.3rem 1rem;
      outline: 0;
      color: var(--clr-wht-basic);
      font-size: small;

      &:first-child {
        border-left-width: 2px;
        border-radius: 2em 0 0 2em;
      }

      &:last-child {
        border-radius: 0 2em 2em 0;
      }

      &:hover {
        color: var(--clr-wht-basic);
        background: var(--clr-grn-generic-viridian);
      }

    }

    .active {
      background: var(--clr-grn-generic-viridian);
      color: var(--clr-wht-basic);
    }
  }
}

//table 
.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "content";
  // margin-left: 1rem;
  // margin-right: 1rem;

  .header-table {
    grid-area: header;
    border-bottom: 1px solid var(--clr-blk-davys-grey);
    display: flex;

    .logo-img-header {
      padding: 20px;

      img {
        width: 130px;
      }
    }
  }

  .main-content-table {
    grid-area: content;

    .table-filter {
      display: flex;
      border-bottom: 1px solid var(--clr-blk-davys-grey);
      justify-content: space-between;

      .row-table {
        font-size: medium;
        display: flex;
        padding: 20px;
        gap: 1rem;

        p {
          color: var(--clr-wht-light-grey);

          &:hover {
            color: var(--clr-blk-davys-grey);
          }
        }
      }

      .filter-power-meter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0px 30px;

        .icofont-rounded-left {
          cursor: pointer;
        }

        .change-power-meter {
          letter-spacing: .1em;
          padding: 5px 15px;
          border-radius: 15px;
          border: 2px solid var(--clr-grn-green-sheen);
          background: var(--clr-wht-basic);
          color: var(--clr-blk-davys-grey);

          &:hover {
            background-color: var(--clr-grn-green-sheen);
            color: var(--clr-wht-basic);
          }
        }

        .icofont-rounded-right {
          cursor: pointer;
        }
      }
    }

    .table-content {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "tittle"
        "table"
        "page";

      .title-content-table {
        grid-area: tittle;

        h3 {
          letter-spacing: .1em;
          display: flex;
          padding: 20px 0px;
        }
      }

      .table-power-meter {
        grid-area: table;

        table {
          border-bottom: var(--clr-grn-green-sheen) solid 5px;
          border: 1px solid var(--clr-wht-basic);
          border-collapse: separate;
          border-spacing: 0;
          margin: auto;
          width: 100%;
          text-align: center;
          table-layout: fixed;


          tr {
            background-color: var(--clr-wht-cultured);
            border: 1px solid #ddd;
            padding: .35em;
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            height: 50px;
          }

          th,
          td {
            padding: .625em;
            text-align: center;
          }

          th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
            background: var(--clr-grn-green-sheen);
            vertical-align: middle;
            border-color: inherit;
          }
        }
      }
    }

    .pagination-table {
      grid-area: page;

      .pager {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none;
        li{
          display: inline;

          a{
            display: inline-block;
            padding: 5px 15px;
            background-color: var(--clr-wht-basic);
            border: 1px solid #ddd;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

//Responsive Mobile
@media only screen and (max-width: 576px) {

  //table
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}