:root {
  // FONT 
  font-size: 14px;
  font-family: 'Poppins', sans-serif;

  // COLORS
  --clr-wht-basic               : #FFFFFF;
  --clr-wht-cultured            : #f3f3f3;
  --clr-wht-gainsboro           : #DADCE0;
  --clr-wht-light-grey          : #D1D1D1;
  --clr-wht-sonic-silver        : #707070;
  --clr-blk-davys-grey          : #4F4F4F;
  --clr-grn-sheen               : #76BBB3;
  --clr-grn-keppel              : #08AF9C;
  --clr-grn-generic-viridian    : #068374;
  --clr-org-pumpkin             : #FC7222;
  
  // LINEAR GRADIENT --ir
  --gradient-grn-left           : linear-gradient(to left, var(--clr-grn-keppel), var(--clr-grn-generic-viridian));
  
  //scrool
  /* width */
  ::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.35rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--clr-blk-davys-grey); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--clr-org-pumpkin); 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-org-pumpkin); 
  }
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
  p,
  h1,
  h2,
  h3,
  h4,
  textarea,
  a {
    color: var(--clr-blk-davys-grey);
    margin: 0;
    padding: 0;
  }

  p,
  span,
  button {
    font-size: medium;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
    border: unset;
    border-radius: 10px;
  }
  
  input,
  select,
  textarea {
    outline: none;
    border: 0px;
    background: transparent;
    font-size: medium;
  }
  
  
  .src-bar {
    width: 15%;
    align-items: center;
    display: flex;
    background: var(--clr-wht-cultured);
    padding: 1.2rem 2rem;
    border-radius: 5rem;
    font-size: large;
    justify-content: space-between;
    
    input {
      width: 100%;
      font-size: large;
    }
  }
}

#main-content {

  // choose module content
  #choose-module {
    height: 100vh;
    display: grid;
    background: url(../../assets/img/bg/bg-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    z-index: -1;
    position: absolute;

    .choose-module-header {
      position: absolute;
      width: 100%;

      .row-nav-header {
        padding: 0 20px;
        width: 130px;
        img{
          width: 100%;
        }
      }

      img {
        padding: 20px 0;
        width: 10%;
      }
    }

    #btn-oee:hover+.bg-1,
    #btn-pm:hover+.bg-2 {
      opacity: 1.0;
    }

    .row-btn-module {
      margin: auto;
      display: flex;
      gap: 1rem;

      a {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        width: 200px;
        padding: 50px;
        border-radius: 20px;
        transition: all 500ms ease-in-out;
        border: 1px solid rgb(235, 233, 233);
        backdrop-filter: blur(2px);
        background: linear-gradient(111.29deg,
            rgba(255, 255, 255, 0.8) -1.83%,
            rgba(255, 255, 255, 0) 109.95%);

        &:hover {
          backdrop-filter: blur(5px);
        }

        span {
          color: var(--clr-wht-basic);
          font-weight: 600;
          font-size: medium;
          opacity: 100% !important;
          position: relative;
        }

        img {
          width: 25%;
          opacity: 100% !important;
          position: relative;
        }
      }
    }

    .bg-1 {
      position: absolute;
      top: 0px;
      left: 0px;
      background: url('../../assets/img/bg/bg-6.png') center center no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
      z-index: -1;
      opacity: 0.0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }

    .bg-2 {
      position: absolute;
      top: 0px;
      left: 0px;
      background: url('../../assets/img/bg/bg-8.png') center center no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
      z-index: -1;
      opacity: 0.0;
      transition-property: opacity;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;

    }
  }

  //content module pm
  #content-module-pm {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header-pm"
      "nav-subhead"
      "content-pm";

    #header-pm {
      grid-area: header-pm;
      border-bottom: 1px solid var(--clr-wht-gainsboro);

      .row-head-pm {
        display: flex;
        gap: 2rem;
        padding: 20px;

        .img-pm {
          width: 130px;

          // border-right: 1px solid #dadce0;
          img {
            width: 100%;
          }
        }

        .header-title {
          display: flex;
          gap: 1rem;
          align-items: center;

          h2 {
            font-size: medium;
          }
        }
      }
    }

    .row-nav-subhead{
      grid-area: nav-subhead;
      border-bottom: 1px solid var(--clr-wht-gainsboro);
      .nav-head{
        padding: 10px 20px;
        display: flex;
        gap: 1rem;
        background: var(--gradient-grn-left);
        div{
          display: flex;
          align-items: center;
          gap: 1rem;
          cursor: pointer;
          color: var(--clr-wht-basic);
        }
      }
    }
    
    #content-pm {
      grid-area: content-pm;
      display: grid;

      
      //location power meter
      #location-pm{
        padding: 20px;
        display: grid;
        background: var(--clr-wht-cultured);

        .row-content-location{
          display: grid;
          grid-template-rows: 300px 1fr;
          background: var(--clr-wht-basic);
          border-radius: 20px;
          overflow: hidden;

          .bg-content-location{
            background: url(../../assets/img/bg/header-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
          }
        }
        
        .list-content-location{
          padding: 20px;
          gap: 20px;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          
          .card-content-location{
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid var(--clr-wht-gainsboro);
            transition: 0.3s;
            &:hover{
              border: 2px solid var(--clr-grn-generic-viridian);
              transform: scale(1.03);
              .lt-pm{
                background: #e0f0ee;
                display: inline;
                border-radius: 50px;
                color: #068374;
                padding: 0px 36px;
              }
              
              .ket-unit-pm{
                color: var(--clr-blk-davys-grey);
              }
            }
            
            div{
              text-align: center;
            }
            
            div:nth-child(1){
              width: 100px;
            }
            
            img{
              width: 100%;
            }

            .lt-pm{
              font-weight: 600;
              transition: 0.3s;
            }
            
            .ket-unit-pm{
              color: var(--clr-wht-gainsboro);
              transition: 0.3s;
            }
          }
        }
      }
      
      //unit power meter
      #unit-pm {
        overflow: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
        
        .row-filter-item-pm {
          border-bottom: 1px solid var(--clr-wht-gainsboro);
          
          .filter-item-pm {
            padding: 20px;
            display: flex;
            justify-content: space-between;
    
            
            .src-bar {
              padding: 0.6rem 1rem;
              font-size: small;
              border-radius: 1rem;
              
              input {
                font-size: small;
              }
            }
          }
        }

        .row-card-content-pm{
          padding: 20px;
          display: grid;
          gap: 1rem;
        }
        
        .list-unit-pm {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          gap: 1rem;
          .content-unit-pm {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            transition: 0.2s;
            &:hover{
              transform: scale(1.03);
              background: var(--gradient-grn-left);
              .content-asset-bottom {
                color: var(--clr-wht-basic);
                i{
                  color: var(--clr-wht-basic);
                }
              }
            }
            
            .content-asset-header {
              img {
                width: 100%;
                display: block;
              }
            }
    
            .content-asset-bottom {
              margin: 10px;
              display: flex;
              align-items: center;
              gap: 1rem;
              
              i{
                font-size: 30px;
                color: var(--clr-grn-generic-viridian);
              }
            }
          }
        }
        
        #more-btn-pm {
          cursor: pointer;
          font-size: medium ;
          color: var(--clr-grn-generic-viridian);
          padding: 10px ;
          background: transparent;
          border: 2px solid var(--clr-grn-generic-viridian)!important;
          width: 150px;
          margin: auto;
          text-align: center;
          margin-top: 10px;
          transition: 0.2s;
          &:hover {
            background: var(--clr-grn-generic-viridian);
            color: var(--clr-wht-basic);
            border: none;
          }
        }
        
      }
      
      //power meter table
      #pm-table{
        background: #022723;
        .pm-table-filter{
          padding: 20px;
          border-bottom: 1px solid var(--clr-wht-gainsboro);
          background: var(--clr-wht-basic);
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .row-btn-tb-pm{
            display: flex;
            align-items: center;
            .next-tb-pm{
              display: inline;
              font-size: 30px;
              color: var(--clr-org-pumpkin);
              cursor: pointer;
            }
            
            .poup-list-pm{
              padding: 5px;
              border-radius: 5px;
              background: transparent;
              color: var(--clr-org-pumpkin);
              border: 1px solid var(--clr-org-pumpkin);
              transition: 0.3s;
              &:hover{
                background: var(--clr-org-pumpkin);
                color: var(--clr-wht-basic);
              }
            }
          }
        }
        
        .pm-table-content{
          padding: 20px;
        }
      }
    }
  }
  
  //general
  .back {
    cursor: pointer;
  }

  .card {
    background: var(--clr-wht-basic);
    border-radius: 15px;
    border: 1px solid var(--clr-wht-light-grey);
  }
  
  .section-content {
    width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .location{
    display: flex;
    gap: 1rem;
    align-items: center;
    span{
      font-weight: 500;
    }

    div{
      padding: 5px 10px;
      background: linear-gradient(var(--clr-grn-keppel), var(--clr-grn-generic-viridian));
      border-radius: 10px;
      span{
        &:first-child{
          color: var(--clr-wht-basic);
        }
      }
    }
  }

  //popup unit power meter
  #row-popup-unit-pm{
    .section-content{
      width: 40%;
    }
    .popup-bg{
      position: fixed;
      z-index: 9999;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.63);
      display: grid;
      align-items: center;
      .row-content-unit-pm{
        .popup-content-unit-pm{
          overflow: hidden;
          border: 0;
          height: 85vh;
          display: flex;
          flex-direction: column;

          .row-header-popup{
            background: var(--gradient-grn-left);
            .content-header-popup{
              padding: 20px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              h2{
                color: var(--clr-wht-basic);
                text-align: center;
                font-size: large;
              }

              .btn-close-popup{
                width: 25px;
                height: 25px;
                padding: 0;
                border-radius: 50%;
                color: var(--clr-wht-basic);
                background: var(--clr-org-pumpkin);
              }
            }
          }

          .row-location-popup{
            padding: 20px;
            border-bottom: 1px solid var(--clr-wht-gainsboro);
          }

          .row-body-popup{
            overflow: auto;
            .list-unit-pm-popup{
              padding: 20px;
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
              gap: 1rem;
              .unit-pm-popup{
                display: flex;
                gap: 1rem;
                border-radius: 5px;
                padding: 5px;
                align-items: center;
                background: var(--clr-wht-cultured);
                transition: 0.3s;
                i{
                  display: inline;
                  color: var(--clr-grn-generic-viridian);
                  font-size: 25px;
                }
              
                span{
                  display: inline;
                }

                &:hover{
                  background: var(--clr-grn-generic-viridian);
                  i, span{
                    color: var(--clr-wht-basic);
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}

//Responsive Mobile
@media (max-width: 1024px) {
  #main-content {
    #choose-module{
      .row-btn-module{
        flex-direction: column;
      }
    }

    #content-module-pm{
      #header-pm{
        .row-head-pm{
          .img-pm{
            width: 85PX;
          }
        }
      }

      #content-pm{
        .section-content{
          width: 100%;
        }

        #location-pm{
          .list-content-location{
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          }
        }
        
        #unit-pm{
          .row-filter-item-pm{
            .filter-item-pm{
              flex-direction: column;
              gap: 1rem;
              .src-bar{
                width: unset;
              }
            }
          }

          .row-card-content-pm{
            .list-unit-pm{
              grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            }
          }
        }
      }
    }
  }
}