:root {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  --clr-wht-basic: #FFFFFF;
  --clr-wht-cultured: #f3f3f3;
  --clr-wht-gainsboro: #DADCE0;
  --clr-wht-light-grey: #D1D1D1;
  --clr-wht-sonic-silver: #707070;
  --clr-blk-davys-grey: #4F4F4F;
  --clr-grn-sheen: #76BBB3;
  --clr-grn-keppel: #08AF9C;
  --clr-grn-generic-viridian: #068374;
  --clr-grn-deep-jungle: #0c4b45;
  --clr-grn-phthalo: #022723;
  --clr-org-pumpkin: #FC7222;
  --gradient-grn-left: linear-gradient(to left, var(--clr-grn-keppel), var(--clr-grn-generic-viridian));
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

:root ::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}

:root ::-webkit-scrollbar-track {
  background: var(--clr-blk-davys-grey);
}

:root ::-webkit-scrollbar-thumb {
  background: var(--clr-org-pumpkin);
}

:root ::-webkit-scrollbar-thumb:hover {
  background: var(--clr-org-pumpkin);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body p,
body h1,
body h2,
body h3,
body h4,
body textarea,
body a {
  color: var(--clr-blk-davys-grey);
  margin: 0;
  padding: 0;
}

body p,
body span,
body button {
  font-size: medium;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
}

body button {
  cursor: pointer;
  border: unset;
  border-radius: 10px;
}

body input,
body select,
body textarea {
  outline: none;
  border: 0px;
  background: transparent;
  font-size: medium;
}

body .src-bar {
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--clr-wht-cultured);
  padding: 1.2rem 2rem;
  border-radius: 5rem;
  font-size: large;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .src-bar input {
  width: 100%;
  font-size: large;
}

#main-content #choose-module {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  background: url(../../assets/img/bg/bg-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  z-index: -1;
  position: absolute;
}

#main-content #choose-module .choose-module-header {
  position: absolute;
  width: 100%;
}

#main-content #choose-module .choose-module-header .row-nav-header {
  padding: 0 20px;
  width: 130px;
}

#main-content #choose-module .choose-module-header .row-nav-header img {
  width: 100%;
}

#main-content #choose-module .choose-module-header img {
  padding: 20px 0;
  width: 10%;
}

#main-content #choose-module #btn-oee:hover + .bg-1,
#main-content #choose-module #btn-pm:hover + .bg-2 {
  opacity: 1.0;
}

#main-content #choose-module .row-btn-module {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 20px;
}

#main-content #choose-module .row-btn-module a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  padding: 50px;
  border-radius: 20px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border: 1px solid #ebe9e9;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: linear-gradient(111.29deg, rgba(255, 255, 255, 0.8) -1.83%, rgba(255, 255, 255, 0) 109.95%);
}

#main-content #choose-module .row-btn-module a:hover {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#main-content #choose-module .row-btn-module a span {
  color: var(--clr-wht-basic);
  font-weight: 600;
  font-size: medium;
  opacity: 100% !important;
  position: relative;
}

#main-content #choose-module .row-btn-module a img {
  width: 25%;
  opacity: 100% !important;
  position: relative;
}

#main-content #choose-module .bg-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../../assets/img/bg/bg-6.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#main-content #choose-module .bg-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../../assets/img/bg/bg-8.png") center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#main-content #content-module-pm {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto auto 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: "header-pm" "nav-subhead" "content-pm";
}

#main-content #content-module-pm #header-pm {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-pm;
  border-bottom: 1px solid var(--clr-wht-gainsboro);
}

#main-content #content-module-pm #header-pm .row-head-pm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 20px;
}

#main-content #content-module-pm #header-pm .row-head-pm .img-pm {
  width: 130px;
}

#main-content #content-module-pm #header-pm .row-head-pm .img-pm img {
  width: 100%;
}

#main-content #content-module-pm #header-pm .row-head-pm .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #content-module-pm #header-pm .row-head-pm .header-title h2 {
  font-size: medium;
}

#main-content #content-module-pm .row-nav-subhead {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav-subhead;
  border-bottom: 1px solid var(--clr-wht-gainsboro);
}

#main-content #content-module-pm .row-nav-subhead .nav-head {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  background: var(--gradient-grn-left);
}

#main-content #content-module-pm .row-nav-subhead .nav-head div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: var(--clr-wht-basic);
}

#main-content #content-module-pm #content-pm {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content-pm;
  display: -ms-grid;
  display: grid;
}

#main-content #content-module-pm #content-pm #location-pm {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  background: var(--clr-wht-cultured);
}

#main-content #content-module-pm #content-pm #location-pm .row-content-location {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px 1fr;
      grid-template-rows: 300px 1fr;
  background: var(--clr-wht-basic);
  border-radius: 20px;
  overflow: hidden;
}

#main-content #content-module-pm #content-pm #location-pm .row-content-location .bg-content-location {
  background: url(../../assets/img/bg/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location {
  padding: 20px;
  gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--clr-wht-gainsboro);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location:hover {
  border: 2px solid var(--clr-grn-generic-viridian);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location:hover .lt-pm {
  background: #e0f0ee;
  display: inline;
  border-radius: 50px;
  color: #068374;
  padding: 0px 36px;
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location:hover .ket-unit-pm {
  color: var(--clr-blk-davys-grey);
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location div {
  text-align: center;
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location div:nth-child(1) {
  width: 100px;
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location img {
  width: 100%;
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location .lt-pm {
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main-content #content-module-pm #content-pm #location-pm .list-content-location .card-content-location .ket-unit-pm {
  color: var(--clr-wht-gainsboro);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main-content #content-module-pm #content-pm #unit-pm {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content #content-module-pm #content-pm #unit-pm .row-filter-item-pm {
  border-bottom: 1px solid var(--clr-wht-gainsboro);
}

#main-content #content-module-pm #content-pm #unit-pm .row-filter-item-pm .filter-item-pm {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-content #content-module-pm #content-pm #unit-pm .row-filter-item-pm .filter-item-pm .src-bar {
  padding: 0.6rem 1rem;
  font-size: small;
  border-radius: 1rem;
}

#main-content #content-module-pm #content-pm #unit-pm .row-filter-item-pm .filter-item-pm .src-bar input {
  font-size: small;
}

#main-content #content-module-pm #content-pm #unit-pm .row-card-content-pm {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "s1" "s2" "s3";
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm:hover .content-name-pm {
  background: var(--gradient-grn-left);
  color: var(--clr-wht-basic);
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm:hover .content-name-pm i {
  color: var(--clr-wht-basic);
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm .content-asset-header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm .content-asset-header img {
  width: 100%;
  display: block;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm .content-point-check {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: s3;
  min-height: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm .content-point-check div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm .content-point-check div p {
  font-size: small;
  color: var(--clr-org-pumpkin);
  font-weight: 800;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm .content-name-pm {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
  min-height: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm .content-name-pm span {
  font-weight: 500;
}

#main-content #content-module-pm #content-pm #unit-pm .list-unit-pm .content-unit-pm .content-name-pm i {
  font-size: 30px;
  color: var(--clr-grn-generic-viridian);
}

#main-content #content-module-pm #content-pm #unit-pm #more-btn-pm {
  cursor: pointer;
  font-size: medium;
  color: var(--clr-grn-generic-viridian);
  padding: 10px;
  background: transparent;
  border: 2px solid var(--clr-grn-generic-viridian) !important;
  width: 150px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main-content #content-module-pm #content-pm #unit-pm #more-btn-pm:hover {
  background: var(--clr-grn-generic-viridian);
  color: var(--clr-wht-basic);
  border: none;
}

#main-content #content-module-pm #content-pm #pm-table {
  background: var(--clr-grn-phthalo);
  overflow: auto;
}

#main-content #content-module-pm #content-pm #pm-table .pm-table-filter {
  padding: 20px;
  border-bottom: 1px solid var(--clr-wht-gainsboro);
  background: var(--clr-wht-basic);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #content-module-pm #content-pm #pm-table .pm-table-filter .row-btn-tb-pm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content #content-module-pm #content-pm #pm-table .pm-table-filter .row-btn-tb-pm .next-tb-pm {
  display: inline;
  font-size: 30px;
  color: var(--clr-org-pumpkin);
  cursor: pointer;
}

#main-content #content-module-pm #content-pm #pm-table .pm-table-filter .row-btn-tb-pm .poup-list-pm {
  padding: 5px;
  border-radius: 5px;
  background: transparent;
  color: var(--clr-org-pumpkin);
  border: 1px solid var(--clr-org-pumpkin);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#main-content #content-module-pm #content-pm #pm-table .pm-table-filter .row-btn-tb-pm .poup-list-pm:hover {
  background: var(--clr-org-pumpkin);
  color: var(--clr-wht-basic);
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  margin: 20px;
  background: var(--clr-grn-deep-jungle);
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-header-tb-pm {
  background: var(--gradient-grn-left);
  padding: 5px 20px;
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-header-tb-pm span {
  color: var(--clr-wht-basic);
  font-weight: 600;
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-body-tb-pm {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 20px;
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-body-tb-pm #pm-table-content {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  overflow: hidden;
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-body-tb-pm #chart-tb-pm .card {
  border-radius: 10px;
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-body-tb-pm #chart-tb-pm .row-list-chart-pm {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-body-tb-pm #chart-tb-pm .row-list-chart-pm .content-chart-tb .header-chart-tb {
  padding: 10px;
  border-bottom: 1px solid var(--clr-wht-gainsboro);
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-body-tb-pm #chart-tb-pm .row-list-chart-pm .content-chart-tb .header-chart-tb span {
  font-weight: 500;
}

#main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-body-tb-pm #chart-tb-pm .row-list-chart-pm .content-chart-tb .body-chart-tb {
  padding: 10px;
}

.back {
  cursor: pointer;
}

.card {
  background: var(--clr-wht-basic);
  border-radius: 15px;
  border: 1px solid var(--clr-wht-light-grey);
}

.line {
  height: 5px;
  background: var(--clr-grn-phthalo);
}

.section-content {
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location span {
  font-weight: 500;
}

.location div {
  padding: 5px 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-grn-keppel)), to(var(--clr-grn-generic-viridian)));
  background: linear-gradient(var(--clr-grn-keppel), var(--clr-grn-generic-viridian));
  border-radius: 10px;
}

.location div span:first-child {
  color: var(--clr-wht-basic);
}

.table-scroll {
  position: relative;
  max-width: 1450px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border: 1px solid var(--clr-blk-davys-grey);
}

.table-scroll table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-scroll th, .table-scroll td {
  padding: 5px 10px;
  border: 1px solid var(--clr-blk-davys-grey);
  background: var(--clr-wht-basic);
  white-space: nowrap;
  vertical-align: top;
  width: 200px !important;
}

.table-scroll thead, .table-scroll tfoot {
  background: var(--clr-wht-cultured);
}

.table-scroll .table-wrap {
  overflow-x: auto;
}

.clone {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.clone th, .clone td {
  visibility: hidden;
  width: 200px;
}

.clone tbody th {
  visibility: visible;
  color: red;
}

.clone .fixed-side {
  border: 1px solid var(--clr-blk-davys-grey);
  background: var(--clr-wht-cultured);
  visibility: visible;
}

.clone thead, .clone tfoot {
  background: transparent;
}

#row-popup-unit-pm {
  display: none;
}

#row-popup-unit-pm .section-content {
  width: 40%;
}

#row-popup-unit-pm .popup-bg {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.63);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm {
  overflow: hidden;
  border: 0;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-header-popup {
  background: var(--gradient-grn-left);
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-header-popup .content-header-popup {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-header-popup .content-header-popup h2 {
  color: var(--clr-wht-basic);
  text-align: center;
  font-size: large;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-header-popup .content-header-popup .btn-close-popup {
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  color: var(--clr-wht-basic);
  background: var(--clr-org-pumpkin);
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-location-popup {
  padding: 20px;
  border-bottom: 1px solid var(--clr-wht-gainsboro);
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-body-popup {
  overflow: auto;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-body-popup .list-unit-pm-popup {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-body-popup .list-unit-pm-popup .unit-pm-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--clr-wht-cultured);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-body-popup .list-unit-pm-popup .unit-pm-popup i {
  display: inline;
  color: var(--clr-grn-generic-viridian);
  font-size: 25px;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-body-popup .list-unit-pm-popup .unit-pm-popup span {
  display: inline;
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-body-popup .list-unit-pm-popup .unit-pm-popup:hover {
  background: var(--clr-grn-generic-viridian);
}

#row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-body-popup .list-unit-pm-popup .unit-pm-popup:hover i, #row-popup-unit-pm .popup-bg .row-content-unit-pm .popup-content-unit-pm .row-body-popup .list-unit-pm-popup .unit-pm-popup:hover span {
  color: var(--clr-wht-basic);
}

@media (max-width: 1024px) {
  body p, body span, body button, body table {
    font-size: 12px;
  }
  #main-content #choose-module .row-btn-module {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main-content #choose-module .row-btn-module a {
    width: unset;
    max-width: 200px;
    min-width: 100px;
  }
  #main-content #content-module-pm #header-pm .row-head-pm .img-pm {
    width: 85PX;
  }
  #main-content #content-module-pm .row-nav-subhead .nav-head {
    gap: 5px !important;
  }
  #main-content #content-module-pm .row-nav-subhead .nav-head div {
    gap: 5px !important;
  }
  #main-content #content-module-pm #content-pm .section-content {
    width: 100%;
  }
  #main-content #content-module-pm #content-pm #location-pm .list-content-location {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  #main-content #content-module-pm #content-pm #unit-pm .row-filter-item-pm .filter-item-pm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  #main-content #content-module-pm #content-pm #unit-pm .row-filter-item-pm .filter-item-pm .src-bar {
    width: unset;
  }
  #main-content #content-module-pm #content-pm #unit-pm .row-card-content-pm .list-unit-pm {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  #main-content #content-module-pm #content-pm #pm-table .row-tb-pm .content-body-tb-pm #chart-tb-pm .row-list-chart-pm {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  #row-popup-unit-pm .popup-bg .section-content {
    width: 95%;
  }
}
/*# sourceMappingURL=myCss.css.map */