:root {
    // FONT 
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    // COLORS
    --clr-wht-basic: #FFFFFF;
    --clr-wht-magnolia: #F5F5FF;
    --clr-wht-light-grey: #D1D1D1;
    --clr-blk-davys-grey: #4F4F4F;
    --clr-grn-generic-viridian: #068374;
    --clr-grn-green-sheen: #76BBB3;
    --clr-wht-gainsboro: #DADCE0;
    --clr-wht-cultured: #F8F8F8;
}

*,
*:before,
*:after {
}

.table-outer-wrapper {
  box-sizing: inherit;
  box-sizing: border-box;

  .scrolling-lock-table-wrapper {
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%;
    padding-left: 151px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    thead {
      tr {
        th {
          padding: 10px 20px;
          text-align: center;
          white-space: nowrap;
          background-color: var(--clr-grn-green-sheen);
          a {
            text-decoration: none;
            color: var(--clr-wht-basic);
          }
        }
        th:nth-of-type(1) {
          position: absolute;
          left: 9px;
          width: 50px;
        }
        th:nth-of-type(2) {
          position: absolute;
          left: 59px;
          width: 100px;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 10px;
          text-align: center;
          white-space: nowrap;
          background-color: var(--clr-wht-light-grey);
        }
        td:nth-of-type(1) {
          position: absolute;
          left: 9px;
          width: 50px;
          text-align: left;
        }
        td:nth-of-type(2) {
          position: absolute;
          left: 59px;
          width: 100px;
        }
      }
    }
  }
}